# Project exclude paths
/.gradle/
/Coffee Machine/task/build/
/Coffee Machine/task/out/
/Coffee Machine/task/out/production/classes/
/Problems/Comparing strings ignoring whitespaces/out/
/Problems/Comparing strings ignoring whitespaces/out/production/classes/
/Problems/Invalid declaration of variables/out/
/Problems/Invalid declaration of variables/out/production/classes/
/Problems/Printing a magic letter/out/
/Problems/Printing a magic letter/out/production/classes/
/Problems/Printing strings in the same order/out/
/Problems/Printing strings in the same order/out/production/classes/
/Problems/Profit/out/
/Problems/Profit/out/production/classes/
/Problems/Reversing/out/
/Problems/Reversing/out/production/classes/
/Problems/The (un)-ordered sequence/out/
/Problems/The (un)-ordered sequence/out/production/classes/
/Problems/Two numbers never occur next to each other/out/
/Problems/Two numbers never occur next to each other/out/production/classes/